
.linear-gradient {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text; 
  color: transparent;
  font-weight: bold;
}

.btn-primarry {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;    
  align-items: center;
  font-weight: bold;
  border: none;            
  padding: 10px 24px;      
  border-radius: 10000px;      
  cursor: pointer;  
  gap: 5px;  
  display: flex;      
}
.btn-hero {
  background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
  color: #FFFFFF;    
  align-items: center;
  font-weight: bold;
  border: none;            
  padding: 10px 24px;      
  border-radius: 10000px;      
  cursor: pointer;  
  gap: 5px;  
  display: flex;      
}

.btn-msg {
   width: 147px;
  height: 44px;
  background: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 1px solid #00FF88;
  border-radius: 10000px;
  font-weight: bold;
  cursor: pointer;  
  color: #00FF88;
}
.btn-primarry img {
  width: 20px;  
  height: 20px; 
  
}

.whcolor{
    color: #FFFFFF;
}
body {
    background-color: #1A0B2E;
    margin: 0;
    padding: 0;
}

.navbar{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 20px;
    
}

.navbar ul{
    text-decoration: none;
    font-weight: bold;
    display: flex;
   gap: 32px;
   list-style: none;

}

.navbar a {
    text-decoration: none;          
    font-weight: bold;
}

.hamburger-img {
  display: none;
  width: 32px;  
  height: 32px;
  cursor: pointer;
}


.hero {
  position: relative;
  width: 100%;
  height: 760px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('/assets/hero-bg.png') center/cover no-repeat; 

  
 
}



.hero-container {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.micro-container {
  position: relative;
  width: 350px;
  height: 350px;
  margin-bottom: 24px;
}

.micro-bg {
  width: 100%;
  height: 100%;
 
}

.micro-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
}

.badge-new {
  position: absolute;
  top: 15px;
  right: 20px;
  background: #00FF85;
  color: #fff;
  font-weight: bold;
  border-radius: 16px;
  padding: 4px 14px;
  font-size: 1rem;
}



.hero p {
  color: #FFFFFF;
  margin-bottom: 24px;
  text-align: center;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

@media screen and (max-width: 576px) {
  .nav-links,
  .btn-primarry {
    display: none !important;
  }
  .hamburger-img {
    display: block;
  }
  .navbar {
    justify-content: space-between;
  }

  .hero p {

  white-space: wrap;


}
}







